/* NAVIGATION */

nav {
			position: fixed;
	    top: 0;
			left: 0;
	    width: 100%;
}

.menu ul {
    list-style-type: none;
		list-style-image: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009699;
}

.menu li {
    float: left;
		font-weight: bold;
		font-size: 20px;
		margin: 0;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
		height: 25px;
}

/* Change the link color to #111 (black) on hover */
.menu li a:hover {
    background-color: #ff674d;
    padding: 14px 16px;
}

.menu #active {
    background-color: #ccfeff;
		color: #009699;
}