/* Fonts from: https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-color: #ccfeff;
	margin: 0% 12%;
	margin-top: 100px;
	padding: 10px 10px 10px 10px;
	font-family: 'Roboto', serif;
}

h1,h2,h3,h4,h5,h6 {
	color: #009699;
	text-align: center;
	font-family: 'Pacifico', cursive;
}

p {
	margin: 2em;
}

blockquote {
	border: 5px solid white ;
	border-radius: 20px;
	background-color: #ff674d;
	color: white;
	box-shadow: 0px 6px 15px #888888;
	text-align: center;
	font-weight: bold;
	padding: 1em;
	margin: 1em 8em;
}

#section {
	border:5px dashed #009699;
	border-radius: 20px;
	padding: 10px;
	margin: 2em 5em;
}

#software {
	margin: 0px auto;
	text-align: center;
	padding: 10px;
}

td {
	width: 200px;
}

ul {
	list-style-type: circle;
	list-style-image: url('images/icon_check.png');
	margin-left: 5%;
}

li {
	margin: 10px;
}

/* NAVIGATION */

nav {
			position: fixed;
	    top: 0;
			left: 0;
	    width: 100%;
}

.menu ul {
    list-style-type: none;
		list-style-image: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009699;
}

.menu li {
    float: left;
		font-weight: bold;
		font-size: 20px;
		margin: 0;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
		height: 25px;
}

/* Change the link color to #111 (black) on hover */
.menu li a:hover {
    background-color: #ff674d;
    padding: 14px 16px;
}

.menu #active {
    background-color: #ccfeff;
		color: #009699;
}
